@import "tailwindcss";

.hover-logo {
  position: relative;
  display: inline-block;
  cursor: pointer;
  font-size: 2rem;
  font-weight: bold;
  color: #333;
  overflow: hidden;
  transition: color 0.3s ease;
}

.hover-logo .hover-text {
  display: inline-block;
  position: relative;
  background: linear-gradient(90deg, #ff8c00, #ff0080, #0080ff, #00ff6c);
  background-size: 300%;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: gradient 2s infinite linear;
}

.hover-logo:hover .hover-text {
  background-position: 100%;
  animation: gradient-reverse 2s infinite linear;
}

@keyframes gradient {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 100%;
  }
}

@keyframes gradient-reverse {
  0% {
    background-position: 100%;
  }
  100% {
    background-position: 0%;
  }
}

.hover-logo:hover {
  transform: scale(1.2); /* 放大效果，1.2倍 */
  transition: 400ms;
}
